<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />

<title>Cadastro de Cliente!</title>
</head>

<body>

	<div class="container">
		<div class="row valing-wrapper">
			<div class="col s6">
				<h4>Realizar Cadastro de Cliente</h4>
			</div>

		</div>

		<div class="container-fluid">
			<form action="/indexCliente/salvar" method="Post" th:object="${cliente}">

				<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<th:block th:each="error : ${#fields.detailedErrors()}">
						<div>
							<i class="fa  fa-exclamation-circle"></i> <span
								th:text="${error.message}"></span>
						</div>
					</th:block>
				</div>

				<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">					
					<span th:text="${mensagem}"></span>
				</div>

				
				<div class="form-group">
					<label for="nome'"> Nome do cliente</label> 
					<input id="nome" type="text" class="form-control" th:field="*{nome}" />

				</div>
				<div class="form-group">
					<label for="cpf'"> Cpf do cliente</label> 
					<input id="cpf"	type="text" class="form-control" th:field="*{cpf}" />

				</div>

				<div class="form-group">
					<label for="idade'"> Idade do cliente</label> <input id="idade"
						type="text" class="form-control" th:field="*{idade}" />

				</div>

				<div class="form-group">
					<label for="email'"> Email do cliente</label> <input id="email"
						type="text" class="form-control" th:field="*{email}" />

				</div>
				<div class="form-group">
					<label for="senha'"> Senha do cliente</label> <input id="senha"
						type="password" class="form-control" th:field="*{senha}" />

				</div>
				<div class="form-group">
					<label for="telefone'"> Telefone do cliente</label> <input
						id="telefone" type="text" class="form-control"
						th:field="*{telefone}" />

				</div>
				<div class="col s4">
					<button
						class="valing btn-large waves-effect waves-light teal right"
						type="submit" name="action">Cadastrar cliente</button>
				</div>
			</form>
			<a th:href="@{/}" class="btn-large waves-effect waves-light teal">Voltar</a><br />
			<br />
			<br />
		</div>

	</div>
	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</body>

</html>