<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	    <title>Frutas</title>
	</head>

	<body bgcolor="#2F4F4F">
		
		<div class="container">
				<div class="row valing-wrapper">
						<div class="col s6">
								<h3>Painel de frutas</h3>
						</div>											
				</div>						 					 					 					 					 
		</div>							
		<script src="/webjars/jquery/2.2.4/jquery.js"></script>
		<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
	</body>	

</html>