<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link href="/webjars/materializecss/0.97.7/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<title>Página de verdura</title>
</head>
<body>
	<div class="container">
		<div class="row center">
			<h1 class="header center green-text">Página de verdura</h1>
		</div>
	</div>
	<script src="/webjars/jquery/2.2.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>

</body>

</html>